<!-- album.html -->
{% extends 'bandas/layout.html' %}

{% block content %}
    <ul>
    <h1> {{ album.banda }} </h1>
    <img src='{{ album.capa.url}}' width="150px">

    <h2> Album: {{ album.tituloAlbum }} - {{ album.anoDeLancamento }} </h2>


    <h2>Lista de músicas do álbum:
    {% for musica in album.musica_set.all %}
       <li> <a href="{% url 'bandas:musica_url' musica.tituloMusica %}">{{ musica }}</a>
       {% if musica.letra %}
            <i class="fa fa-music" title="Esta música tem letra"></i>
       {% endif %}
       </li>
    {% endfor%}
    </h2>
    </ul>
{% endblock %}